* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: sans-serif;
    color: white;
}

.time-section {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-left: 10rem;
    justify-self: left;
    width: 100%;
}

.temperature-section {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 5rem;
    padding-right: 10rem;
    justify-self: right;
    width: 100%;
}

.temperature-section span{
    cursor: pointer;
}